<%= render "govuk_publishing_components/components/panel", {
  title: t("controllers.contact.govuk_app.confirmation.message")
} %>

<p class="govuk-body">Thank you for your message.</p>
<p class="govuk-body">We'll respond to you in 2 working days.</p>
<p class="govuk-body"><a href="https://www.gov.uk">Return to the GOV.UK homepage</a></p>
