.category-page {

  .inner {
    padding: 0;
    margin: 0;
    width: 80%;
  }

  .contact-container {
    background-color: #fff;
    min-height: 500px;

    .contact-form {
      p {
        @include core-19;
        padding-bottom: 0;
      }
      legend {
        @include bold-24
      }
      .instruction {
        margin-bottom: 20px;
      }
    }

    p {
      @include core-24;
      padding-bottom: 1em;
    }

    h2 {
      @include bold-24;
      margin-bottom: 0;
      a {
        text-decoration: none;
      }
    }

    li  p {
        @include core-19;
        margin: 0;
        padding: 0;
      }

    .full-name {
      font-weight: 400;
    }

    @include media(mobile) {
      min-height: auto;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin-bottom: 30px;
        &.contact-keyline {
          border-top: 1px solid $border-colour;
          padding-top: 3em;
          margin-top: 3em;
          p {
            @include core-24;
          }
        }

        p {
          margin: 0;
          word-wrap: break-word;
        }
      }
    }
  }
}
