.category-page {

  header.page-header {

    div {
      padding: 20px 30px;

      @include media(mobile) {
        padding: 15px;
      }

      h1 {
        @include bold-48;
        width: 75%;
        padding: 20px 0;

        @include media(mobile) {
          width: auto;
          padding: 0 0 15px;
        }
      }

      h2 {
        @include core-24;
        color: inherit;
        margin: 0;
      }
    }
  }
  
  .inner {
    padding: 0;
    margin: 0;
    width: 80%;
  }

  .contact-container {
    background-color: #fff;
    min-height: 500px;
    padding: 0 30px 45px 30px;

    .contact-form {
      p {
        @include core-19;
      }
      legend {
        @include bold-24
      }
      .instruction {
        margin-bottom: 20px;
      }
    }

    p {
      @include core-24;
      padding-bottom: 1em;
    }

    h2 {
      @include bold-24;
      margin-bottom: 0;
      a {
        text-decoration: none;
      }
    }

    li  p {
        @include core-19;
        margin: 0;
        padding: 0;
      }

    .full-name {
      font-weight: 400;
    }

    @include media(mobile) {
      padding: 0 15px 30px 15px;
      min-height: auto;
    }

    @include ie-lte(8) {
      padding: 0 3.5% 30px;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin-bottom: 30px;
        &.contact-keyline {
          border-top: 1px solid $border-colour;
          padding-top: 3em;
          margin-top: 3em;
          p {
            @include core-24;
            // a {
            //   text-decoration: none;
            // }
          }
        }

        p {
          margin: 0;
          word-wrap: break-word;
        }
      }
    }
  }
}
