<% content_for :title, "Sorry, there is a problem with the service" %>
<%= render "govuk_publishing_components/components/heading", {
  text: "Sorry, there is a problem with the service",
  heading_level: 1,
  font_size: "l",
} %>

<p class="govuk-body">We are unable to fulfill your request.</p>
<p class="govuk-body">Try again later.</p>

<% if content_base_path && content_title %>
  <p class="govuk-body">
    <a href="<%= content_base_path %>" class="govuk-link">Return to <%= content_title %></a>
  </p>
<% end %>

<p class="govuk-body">
  <a href="https://surveys.publishing.service.gov.uk/s/accessible_format/"
    class="govuk-link"
    data-module="gem-track-click"
    data-track-category="External Link Clicked"
    data-track-action="https://surveys.publishing.service.gov.uk/s/accessible_format/"
    data-track-label="Give us feedback on requesting accessible documents on GOV.UK">
    Give us feedback on requesting accessible documents on GOV.UK</a> (takes 2 minutes)
</p>
