<% content_for :title, "You did not make a request for an accessible document" %>
<%= render "govuk_publishing_components/components/heading", {
  text: "You did not make a request for an accessible document",
  heading_level: 1,
  font_size: "l",
} %>

<p class="govuk-body">We are unable to fulfil your request because you need to select which document you would like to make a request for.</p>
<p class="govuk-body">You can use <a href="/search" class="govuk-link">GOV.UK search</a> to find any document available on <a href="/" class="govuk-link">GOV.UK</a></p>