<% content_for :title, "Freedom Of Information | Feedback | GOV.UK" %>
<% content_for :heading, "Freedom Of Information" %>

<form action="/feedback/foi" method="post">
  <%= render "shared/user_details_fieldset" %>

  <section id="info">

  <p>
    If you’re thinking of making a Freedom of Information request, please read our guide to
    <a href="https://www.gov.uk/make-a-freedom-of-information-request/the-freedom-of-information-act">Freedom of Information Requests<a/>.
    The guide also tells you how to find out whether someone’s already requested the information you need.
  </p>

  </section>
  <section id="zendesk">
  <fieldset>
    <legend>Please specify</legend>
    <label for="foi" class="top">Provide a detailed description about the information you're seeking</label>
    <span class="info">Please don't include any personal or financial information</span>
    <input type="text" maxlength="1200" name="lookingfor" id="lookingfor" required aria-required="true"
           value="<%= @old ? @old[:foi]  : '' %>" />
    <%= render :partial => "shared/form_errors",  :locals => {:fieldname => "foi"}%>

  </fieldset>
  </section>
  <input id="submit" type="submit" class="button"/>
</form>
