label {
    width: 20%;
    float: left;
}

label.top {
    display: block;
    width: auto;
}

span.info {
    display: block;
    width: auto;
    font-size: 0.7em;
    font-style: italic;
    color: #a9a9a9;
}

section#userdetails, section#zendesk, section#info {
    border: 1px solid black;
    margin-bottom: 5px;
    margin-top: 5px;
}

section#content input[type="text"], section#content input[type="email"], section#content select {
    line-height: 1.5em;
    font-size: 1.1875em;
    color: black;
    background: transparent;
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 10em;
    padding: 0;
}


fieldset legend {
    background-color: #dcdcdc;
    line-height: 1.5em;
    color: #2E3191;
    width: 100%;
}

input.submit {
   background-color: #008270;
   color: white;
}
