<% if @errors %>
  <div class="validation-summary">
    <h1>Please check the form</h1>
    <ul>
      <% @errors.each do |key, value| %>
        <% value.each do |error| %>
          <li><a href="<%= "##{key.to_s}error" %>"><%= error %></a></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
