<% if @errors && (not @errors.empty?) %>
  <div id="error_explanation">
    <h2><%= pluralize(@errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
      <% @errors.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
