<nav role="navigation" class="page-navigation">
  <ol>
    <li>
      <a href="/i-cant-find" title="I can't find">
        <span class="part-title">I can't find</span>
      </a>
    </li>
    <li>
      <a href="/ask-a-question" title="Ask a Question">
        <span class="part-title">Ask a Question</span>
      </a>
    </li>
    <li>
      <a href="/general-feedback" title="General Feedback">
        <span class="part-title">General Feedback</span>
      </a>
    </li>
    <li>
      <a href="/report-a-problem" title="Report a Problem">
        <span class="part-title">Report a Problem</span>
      </a>
    </li>
    <li>
      <a href="/foi" title="FOI">
        <span class="part-title">FOI</span>
      </a>
    </li>
  </ol>
</nav>
