<%# Honeypot field intended to reduce spam %>
<div class="visually-hidden" aria-hidden="true">
  <label for="val">Ignore if you're not a robot</label>
  <input type="text" tabindex="-1" autocomplete="off" id="val" name="<%= "#{form_name}" %>[val]"/>
</div>
