<% content_for :title, "Thank you" %>

<% if @contact_provided %>
  <p>Your message has been sent, and the team will get back to you to answer any questions as soon as possible.</p>
<% else %>
  <p>Your message has been sent.</p>
<% end %>

<p><a href="/">Return to GOV.UK home page</a>.</p>
