<li>
  <%= link_to(link["Title"], link["URL"], class: "govuk-link app-link-as-heading", rel: external_link?(link["URL"]) ? 'external' : '') %>
  <p class="govuk-body"><%= link["Description"] %></p>
</li>
