<script type="text/html" id="sections-variant">
  <nav class="section">
    <div class="section-title">
      <h2>Popular Topics</h2>
    </div>
    <div class="section-details">
      <p>Try one of the popular topics below to get a faster answer.</p>
      <ul class="categories group">
        <li>
          <h2>
            <a href="/contact-the-dvla">Driving licences and car tax</a>
          </h2>
          <p>Contact DVLA for questions about driving and your vehicle.</p>
        </li>
        <li>
          <h2>
            <a href="/contact/look-for-jobs">Help with Universal Jobmatch</a>
          </h2>
          <p>
            Ask a question about the service or retrieve your lost login details.
          </p>
        </li>
        <li>
          <h2>
            <a href="/passport-advice-line">Passport Advice Line</a>
          </h2>
          <p>
            Get help with your passport application and renewals if you're a British Citizen.
          </p>
        </li>
        <li>
          <h2>
            <a href="/contact-student-finance-england">Student Finance England</a>
          </h2>
          <p>Get help with student loan applications and grants.</p>
        </li>
        <li>
          <h2>
            <a href="/contact-jobcentre-plus">Jobcentre Plus</a>
          </h2>
          <p>Get advice on benefits such as Jobseeker's Allowance (JSA).</p>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="section other">
    <div class="section-title">
      <h2>Can't find what you're looking for?</h2>
    </div>
    <div class="section-details">
      <form id="contact-form">
        <h2>Find contact details for</h2>
        <select class="contact-search" name="Contacts" id="contact-selector" autocorrect="on" autocomplete="on">
          <option value="" selected="selected"></option>
        </select>
      </form>
      <div id="contact-info" style="display:none;">
        <ul>
          <li>
            <h2>
              <a href="" id="contact-title"></a>
            </h2>
            <p id="contact-description"></p>
          </li>
        </ul>
      </div>
    </div>
    <div style="clear:both;"></div>
  </nav>
  <nav class="section">
    <div class="section-title">
      <h2>Questions &amp; comments</h2>
    </div>
    <div class="section-details">
      <p>
        Use the
        <a href="/contact/govuk">GOV.UK form</a>
        to send your questions or comments about the website.
      </p>
      <p>
        Check the
        <a href="/help">GOV.UK help pages</a>
        to find out about the use of cookies, accessibility of the site, the privacy policy and terms and conditions of use.
      </p>
    </div>
  </nav>
</script>

<script type="text/html" id="lists-variant">
  <div class="inner">
    <p>Try one of the popular topics below to get a faster answer.</p>
    <ul class="categories group">
      <li>
        <h2>
          <a href="/contact-the-dvla">Driving licences and car tax</a>
        </h2>
        <p>Contact DVLA for questions about driving and your vehicle.</p>
      </li>
      <li>
        <h2>
          <a href="/contact/look-for-jobs">Help with Universal Jobmatch</a>
        </h2>
        <p>
          Ask a question about the service or retrieve your lost login details.
        </p>
      </li>
      <li>
        <h2>
          <a href="/passport-advice-line">Passport Advice Line</a>
        </h2>
        <p>
          Get help with your passport application and renewals if you're a British Citizen.
        </p>
      </li>
      <li>
        <h2>
          <a href="/contact-student-finance-england">Student Finance England</a>
        </h2>
        <p>Get help with student loan applications and grants.</p>
      </li>
      <li>
        <h2>
          <a href="/contact-jobcentre-plus">Jobcentre Plus</a>
        </h2>
        <p>Get advice on benefits such as Jobseeker's Allowance (JSA).</p>
      </li>
    </ul>
    <details>
    <summary id="show-contacts">More topics</summary>
    <ul id="more-contacts">
      <li>
        <h2>
          <a href="http://www.actionfraud.police.uk/">Action Fraud</a>
        </h2>
        <p>
          Contact Action Fraud to report fraud and financially motivated internet crime, or if you've been scammed, ripped off or conned.
        </p>
      </li>
      <li>
        <h2>
          <a href="/contact-child-benefit-office">Child Benefit Office</a>
        </h2>
        <p>
          Contact the Child Benefit Office to report a change of circumstance, get your Child Benefit number, or make a general enquiry.
        </p>
      </li>
      <li>
        <h2>
          <a href="https://online.contractsfinder.businesslink.gov.uk/Help%20and%20Resources.aspx">Contracts Finder</a>
        </h2>
        <p>
          Information about Business Link Contracts Finder can be found on this page.
        </p>
      </li>
      <li>
        <h2>
          <a href="/contact-council-crime-prevention-community-safety">Crime Prevention and Community Safety</a>
        </h2>
        <p>
          Contact your local council about crime prevention and community safety (available in England and Wales only)
        </p>
      </li>
      <li>
        <h2>
          <a href="/government/organisations/department-for-communities-and-local-government#org-contacts">Department for Communities and Local Government (DCLG)</a>
        </h2>
        <p>
          We work to move decision-making power from central government to local councils. This helps put communities in charge of planning, increases accountability and helps citizens to see how their money is being spent.
        </p>
      </li>
      <li>
        <h2>
          <a href="https://forms.dft.gov.uk/contact-dft-and-agencies/">Department for Transport (DFT)</a>
        </h2>
        <p>
          Contact Department for Transport and transport agencies. This is for general enquiries only.
        </p>
      </li>
      <li>
        <h2>
          <a href="/government/organisations/department-of-energy-climate-change#org-contacts">Department of Energy and Climate Change (DECC)</a>
        </h2>
        <p>
          The Department of Energy &amp; Climate Change (DECC) works to make sure the UK has secure, clean, affordable energy supplies and promote international action to mitigate climate change.
        </p>
      </li>
      <li>
        <h2>
          <a href="/disclosure-barring-service-check/contact-disclosure-and-barring-service">Disclosure and Barring Service (DBS)</a>
        </h2>
        <p>
          A DBS check may be needed for certain jobs or voluntary work - eg working with children or in healthcare - or applying to foster or adopt a child (formerly CRB).
        </p>
      </li>
      <li>
        <h2>
          <a href="/contact-driving-standards-agency-dsa">Driving Standards Agency (DSA)</a>
        </h2>
        <p>
          Contact the Driving Standards Agency (DSA) for information about practical tests, theory tests, and general enquiries.
        </p>
      </li>
      <li>
        <h2>
          <a href="http://www.gateway.gov.uk/Help/0/Content/CONTENT_ID=4010856.html">DWP Help Desk</a>
        </h2>
        <p>
          Contact DWP help desk for help using or enrolling for Carer's Allowance, State Pension Forecast, Compensation Recovery Unit, My Benefits Online and State Pension Online.
        </p>
      </li>
      <li>
        <h2>
          <a href="http://search2.hmrc.gov.uk/kb5/hmrc/contactus/home.page">Her Majesty's Revenue and Customs (HMRC)</a>
        </h2>
        <p>
          HMRC is the UK's tax authority. Contact us to inform us of changes to your circumstances, such as if you have moved house or changed name.
        </p>
      </li>
      <li>
        <h2>
          <a href="/statutory-demands/contact-the-insolvency-service">Insolvency Service</a>
        </h2>
        <p>
          Contact the Insolvency Service about statutory demands. A statutory demand can be used to ask for payment of a debt from an individual or company.
        </p>
      </li>
      <li>
        <h2>
          <a href="/contact-official-receiver">Official Receiver</a>
        </h2>
        <p>
          Official Receivers manage the first stages, at least, of an insolvency case. For example, they collect and protect assets for creditors after you’ve been made bankrupt and organise your discharge from bankruptcy
        </p>
      </li>
      <li>
        <h2>
          <a href="/overseas-passports">Overseas British Passport Applications</a>
        </h2>
        <p>
          Use the Overseas British passport tool to find contact information from the territory you're in. Get the forms, prices and application details you need if you’re a British national and you want to renew or apply for a British passport from overseas.
        </p>
      </li>
      <li>
        <h2>
          <a href="/contact-pension-service">Pension Service</a>
        </h2>
        <p>
          Contact the International Pension Centre if you're abroad and have a state pension enquiry. You can also make a complaint about the Pension Service.
        </p>
      </li>
      <li>
        <h2>
          <a href="/sure-start-contact">Sure Start</a>
        </h2>
        <p>
          Sure Start Children’s Centres provide access to a range of early childhood services, as well as advice and support for parents and carers - from pregnancy to primary school.
        </p>
      </li>
      <li>
        <h2>
          <a href="http://www.hmrc.gov.uk/calcs/stc.htm">Tax Checker</a>
        </h2>
        <p>
          Use the Tax Checker tool to check if you're paying about the right amount of tax.
        </p>
      </li>
      <li>
        <h2>
          <a href="/contact-the-tax-credit-office">Tax Credit Office</a>
        </h2>
        <p>
          Make a claim for Child Tax Credit or Working Tax Credit or report a change by contacting the Tax Credit Helpline or Tax Credit Office.
        </p>
      </li>
      <li>
        <h2>
          <a href="/uk-border-agency">UK Border Agency (UKBA)</a>
        </h2>
        <p>
          Contact the UK Border Agency (UKBA) for advice on British citizenship, asylum or permission to stay in the UK.
        </p>
      </li>
      <li>
        <h2>
          <a href="/contact-vosa">Vehicle Operator Services Agency (VOSA)</a>
        </h2>
        <p>
          Contact the Vehicle and Operator Services Agency (VOSA) for advice on VOSA testing schemes, activities and enforcement policy or for access to publications, manuals and newsletters.
        </p>
      </li>
    </ul>
    </details>
    <ul>
      <li class="contact-keyline">
        <p>
          Use the
          <a href="/contact/govuk">GOV.UK form</a>
          to send your questions or comments about the website.
        </p>
        <br>
        <p>
          Check the
          <a href="/help">GOV.UK help pages</a>
          to find out about the use of cookies, accessibility of the site, the privacy policy and terms and conditions of use.
        </p>
      </li>
    </ul>
  </div>
</script>

<script type="text/html" id="searchbox-variant">
  <div class="inner searchbox-variant">
    <p>Try one of the popular topics below to get a faster answer.</p>
    <ul class="categories group">
      <li>
        <h2>
          <a href="/contact-the-dvla">Driving licences and car tax</a>
        </h2>
        <p>Contact DVLA for questions about driving and your vehicle.</p>
      </li>
      <li>
        <h2>
          <a href="/contact/look-for-jobs">Help with Universal Jobmatch</a>
        </h2>
        <p>
          Ask a question about the service or retrieve your lost login details.
        </p>
      </li>
      <li>
        <h2>
          <a href="/passport-advice-line">Passport Advice Line</a>
        </h2>
        <p>
          Get help with your passport application and renewals if you're a British Citizen.
        </p>
      </li>
      <li>
        <h2>
          <a href="/contact-student-finance-england">Student Finance England</a>
        </h2>
        <p>Get help with student loan applications and grants.</p>
      </li>
      <li>
        <h2>
          <a href="/contact-jobcentre-plus">Jobcentre Plus</a>
        </h2>
        <p>Get advice on benefits such as Jobseeker's Allowance (JSA).</p>
      </li>
      <div class="contact-search-bar">
        <h2>Can't find what you're looking for?</h2>
        <form id="contact-form">
          <h2>Find contact details for</h2>
          <select class="contact-search" name="Contacts" id="contact-selector" autocorrect="on" autocomplete="on">
            <option value="" selected="selected"></option>
          </select>
          <input style="visibility:hidden;" class="contact-search" type="submit" value="Search"></form>
        <div id="contact-info" style="display:none;">
          <ul>
            <li>
              <h2>
                <a href="" id="contact-title"></a>
              </h2>
              <p id="contact-description"></p>
            </li>
          </ul>
        </div>
      </div>
      <li class="contact-keyline">
        <p>
          Use the
          <a href="/contact/govuk">GOV.UK form</a>
          to send your questions or comments about the website.
        </p>
        <br>
        <p>
          Check the
          <a href="/help">GOV.UK help pages</a>
          to find out about the use of cookies, accessibility of the site, the privacy policy and terms and conditions of use.
        </p>
      </li>
    </ul>
  </div>
</script>
