<% content_for :title do "Find contact details for services" end %>
  <%= render "govuk_publishing_components/components/document_list", {
    items: @popular_links
  } %>

  <%= render "govuk_publishing_components/components/details", {
    title: "More topics"
  } do %>
    <%= render "govuk_publishing_components/components/document_list", {
      items: @long_tail_links
    } %>
  <% end %>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<p class="govuk-body">Use the <a class="govuk-link" href="/contact/govuk">GOV.UK form</a> to send your questions or comments about the website.</p>
<p class="govuk-body">Check the <a class="govuk-link" href="/help">GOV.UK help pages</a> to find out about the use of cookies, accessibility of the site, the privacy policy and terms and conditions of use.</p>
