<% content_for :title do "Contact" end %>

<nav role="navigation" class="contact-contents group">
  <div class="inner">
    <p>Try one of the popular topics below to get a faster answer.</p>
    <ul class="categories group">
      <% @popular_links.each do |link| %>
        <li>
          <h2><%= link_to(link["Title"], link["URL"]) %></h2>
          <p><%= link["Description"] %></p>
        </li>
      <% end %>

      <li class="contact-keyline">
        <p>Use the <a href="/contact/govuk">GOV.UK form</a> to send your questions or comments about the website.</p>
        <br/>
        <p>Check the <a href="/help">GOV.UK help pages</a> to find out about the use of cookies, accessibility of the site, the privacy policy and terms and conditions of use.</p>
      </li>
    </ul>
 </div>
</nav> 

<% content_for :report_a_problem do %><div id="report-a-problem"></div><% end %>
