$govuk-compatibility-govuktemplate: false;
$govuk-use-legacy-palette: false;
$govuk-new-link-styles: true;

@import "govuk_publishing_components/govuk_frontend_support";
@import "govuk_publishing_components/components/back-link";
@import "govuk_publishing_components/components/character-count";
@import "govuk_publishing_components/components/details";
@import "govuk_publishing_components/components/document-list";
@import "govuk_publishing_components/components/error-summary";
@import "govuk_publishing_components/components/fieldset";
@import "govuk_publishing_components/components/inset-text";
@import "govuk_publishing_components/components/panel";
@import "govuk_publishing_components/components/radio";
@import "govuk_publishing_components/components/warning-text";
