@charset "UTF-8";
$govuk-compatibility-govuktemplate: true;
$govuk-use-legacy-palette: false;

@import "govuk_publishing_components/govuk_frontend_support";
@import "govuk_publishing_components/component_support";
@import "govuk_publishing_components/components/breadcrumbs";
@import "govuk_publishing_components/components/button";
@import "govuk_publishing_components/components/details";
@import "govuk_publishing_components/components/error-summary";
@import "govuk_publishing_components/components/feedback";
@import "govuk_publishing_components/components/hint";
@import "govuk_publishing_components/components/title";
@import "govuk_publishing_components/components/warning-text";

.app-link-as-heading {
  @include govuk-font($size:24, $weight: bold, $line-height: 1.8);
}
