@charset "UTF-8";
$govuk-compatibility-govuktemplate: true;
$govuk-use-legacy-palette: false;

@import "govuk_publishing_components/all_components";

.app-link-as-heading {
    @include govuk-font($size:24, $weight: bold, $line-height: 1.8);
}
