@charset "UTF-8";

.js-enabled .contact-contents {
  display: none;
}

.section {
  border-top: 1px solid #bfc1c3;
  padding: 1em 0;
}

.section-title {
  float: left;
}

.section-title > h2 {
  font-size: 1.5em;
  padding: 0;
}

@media (min-width: 640px) {
  .section-details {
    margin-left: 25.0em;
  }
}

@media (max-width: 639px) {
  .section-details {
    clear:left;
    padding-top: 0.5em;
  }
}

.contact-search {
  font-size: 24px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #999;
  line-height: 33px;
}

.contact-search-bar {
  padding-top: 15px;
}

#contact-form {
  margin-top: 10px;
}

.section-details p {
  padding: 0;
  margin: 0.5em 0 0 0;
}

.ui-autocomplete {
  padding: 0;
  list-style: none;
  background-color: #fff;
  width: 218px;
  border: 1px solid #B0BECA;
  max-height: 350px;
  overflow-y: scroll;
}
.ui-autocomplete .ui-menu-item a {
  border-top: 1px solid #B0BECA;
  display: block;
  padding: 4px 6px;
  color: #353D44;
  cursor: pointer;
}
.ui-autocomplete .ui-menu-item:first-child a {
  border-top: none;
}
.ui-autocomplete .ui-menu-item a.ui-state-hover {
  background-color: #D5E5F4;
  color: #161A1C;
}

#contact-title {
  color: #2e3191;
  font-weight: 700;
  font-size: 24px;
}
#contact-form {
  font-size: 24px;
}

details, summary { display: block; }
/* Apply a pointer cursor and style the background upon hover to indicate <summary> is a clickable element. */
/* These styles can be applied regardless of whether the fallback is needed */
summary { cursor: pointer; }
summary:hover, summary:focus { background: #ddd; }

/* The following styles are not really needed, since the jQuery script takes care of hiding/displaying the elements. */
/* However, we’re still gonna use CSS as well to prevent FOUC in browsers that understand these selectors. */
/* Remember: by default (and probably most of the time), the contents of the <details> element are hidden. */
.no-details details > * { display: none; }
/* And yes, it should really be ::before, but that doesn’t work in IE8 */
.no-details details > summary:before { float: left; width: 20px; content: '► '; }
.no-details details.open > summary:before { content: '▼ '; }
/* Make sure summary remains visible */
.no-details details summary { display: block; }
