@import "design-patterns/forms.scss";

.article-container {
  padding-right: 15em;
}

.contact-form {
  @include form();
 }
#location {
  input[type="text"] {
    margin-left: 1.5em;
    width: 31em;
  }
  select {
    margin-left: 0.5em;
  }
}

.contact-form textarea.full-size {
  height: 15em;
}