<% title = "Thank you for contacting GOV.UK" %>
<% content_for :title, title %>
<p class="govuk-body" 
   data-module="ga4-auto-tracker"
   data-ga4-auto="<%= { event_name: "form_complete", type: "contact", text: title, action: "complete", tool_name: "Contact GOV.UK", section: title }.to_json %>">
  <a href="/" class="govuk-link">Return to the GOV.UK home page</a>.
</p>
