<% content_for :title, "Thank you for contacting GOV.UK" %>
<% success_message = "Your message has been sent, and the team will get back to you to answer any questions as soon as possible." %>

<p class="govuk-body" data-module="ga4-auto-tracker" data-ga4-auto="<%= { event_name: "form_complete", type: "contact", text: success_message, action: "complete", tool_name: "Contact GOV.UK" }.to_json %>"><%= success_message %></p>

<p class="govuk-body"><a class="govuk-link" href="/">Return to the GOV.UK home page</a>.</p>
